node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
.eslintrc.js
.prettierrc
coverage
.env
.env.*
*.local
.idea
.vscode
dist
**/.DS_Store
**/*.swp
**/*.swo
**/*.log
apps/**/test
**/*.spec.ts
**/*.e2e-spec.ts


